*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #000;
}

main{
    display: grid;
    height: 100%;
    width: 100%;
}

header{
    background-color: royalblue;
}

aside{
    background-color: palegoldenrod;
}

section{
    background-color: palevioletred;
}

footer{
    background-color: yellow;
}