*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}



/* css variable  */
:root {
  --primary: #3b82f6;
  --spacing: 8px;
  --radius: 6px;
  --color: #f0f0f0;
}

.button {
  background: var(--primary);
  padding: var(--spacing);
  border-radius: var(--radius);
}


button{
  background: var(--primary);
  padding: var(--spacing);
  border-radius: var(--radius);
  color: var(--color);
}


h2::before{
    content: "this ";
    color: rgb(235, 45, 241);
    border: 1px solid ;
}

.tooltip { position: relative; }

.tooltip:hover::after {
  content: attr(data-tip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #111;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
}